// Create grayscale
$gray1:             #e8e8e8;
$gray2:             #555555;
$gray3:             #070c0c;
$gray4:             #f9f9f9;
$gray5:             #fefeff;
$gray6:             #b1b1b1;
$gray7:             #f4f4f5;
$gray8:             #8f9899;
$gray9:             #e7f0f0;
$gray10:            #9c9c9c;
$gray11:            #f1f1f1;
$gray12:            #c2c2c2;
$gray13:            #ececec;

// Reassign color vars to semantic color scheme
$brand-primary:             #196dd1;
$brand-primary1:            #0575e6;
$brand-secondary:           #f6fbff;
$brand-success:             #73ace6;
$brand-social:              #021b79;
$brand-blue:                #89c4ff;
$brand-light-blue:          #b2d8fe;
$brand-social1:             #9bc8f5;